<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sparklead.shaaks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shaaks">
        <activity
            android:name=".exams_after_10th"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".exams_in_9th_10th"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".arts_after_12"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".bvscandah"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".bscnursing"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".bpt"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".bhms"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".engineering_as_a_carrer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".bnys"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".bpth"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".bmlt"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".bot"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".bds"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".mbbs"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".pharmacycourseafter12"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".sciencecourseafter12"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".barchetecture"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".plasticengineer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".industrialengineer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".environmentalengineer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".mettalurgyengineering"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".marineengineering"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".electricalengineer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".chemicalengineering"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".textileengineering"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".spacetechnologist"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".petroleumengineering"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".mechanicalengineering"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".ui.chatbot"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".geneticengineering"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".computerscience"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".CommerceWithoutMaths"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".diplomacoursecommerce"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".bestcoursecommerce"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".creativecoursecommerce"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".proffesionalcoursecomerrce"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".managementcoursecommerce"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".commercewithmath"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".communicationalengineering"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".broadcastengineer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".biotechnologist"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".biomedicaengineering"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Agricultureengg"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".AutomobileEng"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Civileng"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Aeronautical"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Engineering"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Vocational"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Shorttermcourse"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Iti"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Diploma"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Arts"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Commerce"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Science"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Pcmb"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Pcb"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Pcm"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Eleven"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Eight"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Selection"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>